<h1>{{title}}</h1>

{{yield this}}

<nav>
  <div class="week-button-group" role="group">
    <button class="previous-week" {{action "navigateWeek" -1}}></button>
     <button disabled={{isInCurrentWeek}}
        class="current-week"
        {{action "goToCurrentWeek"}}>This Week</button>
      <button class="next-week" {{action "navigateWeek" 1}}></button>
  </div>
</nav>
